:root {
  // ---------- COLORS
  --color-neutral-100: hsl(0, 0%, 100%);
  --color-neutral-400: hsl(255, 14%, 53%);
  --color-neutral-600: hsl(206, 84%, 22%);
  --color-neutral-900: hsl(230, 60%, 8%);

  --color-primary: hsl(179, 80%, 58%);
  --color-error: hsl(343, 100%, 58%);

  // ---------- TYPE

  // -------- Fonts
  --fw-medium: 500;
  --fw-extrabold: 800;

  --fs-100: 0.9375rem; // 15px
  --fs-300: 1.125rem; // 18px
  --fs-400: 2rem; // 32px
  --fs-500: 2.5rem; // 40px
  --fs-600: 3rem; // 48px

  --ff-primary: 'Manrope', sans-serif;

  // -------- Typography
  --leading-100: 1.5625em; // 25px
  --leading-400: 2.75em; // 44px
  --leading-500: 3.4375em; // 55px
  --leading-600: 3.5em; // 56px

  // ------ Copy
  --copy-font: var(--fw-medium) var(--fs-100) var(--ff-primary);
  --copy-leading: var(--leading-100);
  --copy-color: var(--color-neutral-400);

  // ------ Heading
  --heading-fw: var(--fw-extrabold);
  --heading-ff: var(--ff-primary);
  --heading-color: var(--color-neutral-100);

  // ------ Links
  --link-decoration: none;
  --link-decoration-active: var(--link-decoration);
  --link-color: var(--copy-color);
  --link-color-active: var(--link-color);
  --link-transition: 150ms ease-in-out all;
}
