:root {
  // ---------- COLORS
  --color-neutral-100: hsl(0, 0%, 100%);
  --color-neutral-400: hsl(255, 14%, 53%);
  --color-neutral-600: hsl(206, 84%, 22%);
  --color-neutral-900: hsl(230, 60%, 8%);

  --color-primary: hsl(179, 80%, 58%);
  --color-error: hsl(343, 100%, 58%);

  --color-body-bg: var(--color-neutral-900);

  // ---------- TYPE

  // -------- Fonts
  --fw-medium: 500;
  --fw-extrabold: 800;

  --fs-100: 0.9375rem; // 15px
  --fs-300: 1.125rem; // 18px
  --fs-400: 2rem; // 32px
  --fs-500: 2.5rem; // 40px
  --fs-600: 3rem; // 48px

  --ff-primary: 'Manrope', sans-serif;

  // -------- Typography
  --leading-100: 1.5625em; // 25px
  --leading-400: 2.75em; // 44px
  --leading-500: 3.4375em; // 55px
  --leading-600: 3.5em; // 56px

  // ------ Copy
  --copy-font: var(--fw-medium) var(--fs-100) var(--ff-primary);
  --copy-leading: var(--leading-100);
  --copy-color: var(--color-neutral-400);

  // ------ Heading
  --heading-fw: var(--fw-extrabold);
  --heading-color: var(--color-neutral-100);

  --heading-span-color: var(--color-primary);

  // ------ Links
  --link-decoration: none;
  --link-decoration-active: var(--link-decoration);
  --link-color: var(--copy-color);
  --link-color-active: var(--link-color);
  --link-transition: 150ms ease-in-out all;

  // ---------- COMPONENTS

  // -------- Buttons
  --btn-font: var(--fw-extrabold) var(--fs-100) var(--ff-primary);
  --btn-color: var(--color-neutral-600);
  --btn-color-active: var(--color-neutral-100);
  --btn-bg: var(--color-primary);
  --btn-bg-active: transparent;
  --btn-border: 2px solid transparent;
  --btn-border-color-active: var(--color-primary);
  --btn-radius: 99vw;
  --btn-padding: 0.75rem 1.5rem;

  // -------- Hero
  --hero-margin-top: 4.125rem; // 66px

  @media (min-width: 48em) {
    --hero-margin-top: 4.8125rem; // 77px
  }

  @media (min-width: 90em) {
    --hero-margin-top: 7.125rem; // 114px
  }

  // ------ Hero Image
  --hero-img-mobile-url: url('../assets/images/illustration-hero-mobile.png');
  --hero-img-mobile-width: 25.625rem; // 410px
  --hero-img-mobile-height: 14.5625rem; // 233px

  @media (min-width: 48em) {
    --hero-img-width: 19.625rem; // 314px
    --hero-img-height: 22.25rem; // 356px
    --hero-img-left-url: url('../assets/images/illustration-hero-left.svg');
    --hero-img-right-url: url('../assets/images/illustration-hero-right.svg');
  }

  @media (min-width: 90em) {
    --hero-img-width: 25.5rem; // 408px
    --hero-img-height: 28.6875rem; // 459px
  }

  // ---------- LAYOUT

  // -------- Wrapper
  --wrapper-max-width: 20.4375rem; // 327px

  @media (min-width: 48em) {
    --wrapper-max-width: 35.8125rem; // 573px
  }

  @media (min-width: 90em) {
    --wrapper-max-width: 69.375rem; // 1110px
  }

  // -------- Header
  --header-margin-top: 2.5rem; // 40px

  @media (min-width: 48em) {
    --header-margin-top: 3rem; // 48px
  }

  @media (min-width: 90em) {
    --header-margin-top: 5.0625rem; // 81px
  }
}
