:root {
  // ---------- COLORS
  --color-neutral-100: hsl(0, 0%, 100%);
  --color-neutral-400: hsl(255, 14%, 53%);
  --color-neutral-600: hsl(206, 84%, 22%);
  --color-neutral-900: hsl(230, 60%, 8%);

  --color-primary: hsl(179, 80%, 58%);
  --color-error: hsl(343, 100%, 58%);
}
