@use '../abstracts' as abstract;

.plans {
  text-align: var(--plans-text-align);

  .heading {
    font-size: var(--plans-heading-fs);
    max-width: var(--plans-heading-max-width);
  }

  p {
    margin-top: var(--plans-text-margin-top);
    max-width: var(--plans-text-max-width);
  }
}

.plans-container {
  margin-top: var(--plans-container-margin-top);
}
