@use '../abstracts' as abstract;

body {
  font: var(--copy-font);
  line-height: var(--copy-leading);
  color: var(--copy-color);
  background-color: var(--color-body-bg);
}

a {
  text-decoration: var(--link-decoration);
  color: var(--link-color);
  transition: var(--link-transition);

  @include abstract.hover-focus {
    text-decoration: var(--link-decoration-active);
    color: var(--link-color-active);
  }
}

.heading {
  font-weight: var(--heading-fw);
  color: var(--heading-color);

  span {
    color: var(--heading-span-color);
  }
}
