@use '../abstracts' as abstract;

.btn {
  @include abstract.flex;

  font: var(--btn-font);
  color: var(--btn-color);
  background-color: var(--btn-bg);
  border: var(--btn-border);
  border-radius: var(--btn-radius);
  padding: var(--btn-padding);
  width: fit-content;

  @include abstract.hover-focus-within {
    color: var(--btn-color-active);
    background-color: var(--btn-bg-active);
    border-color: var(--btn-border-color-active);
  }
}
