@use '../abstracts' as abstract;

.features-container {
  @include abstract.flex;

  margin-block: var(--features-container-margin-block);
  flex-direction: column;
  gap: var(--feature-card-gap);
}

.features-card {
  text-align: center;
  max-width: var(--features-card-max-width);

  &__img {
    @include abstract.flex;

    background-color: var(--features-card-img-bg);
    border-radius: var(--features-card-img-radius);
    padding: var(--features-card-img-padding);
    margin-inline: auto;
    padding: 26px;
    flex-shrink: 0;
    width: var(--features-card-img-width);
    height: var(--features-card-img-height);
  }
}

.features-card__content {
  margin-top: var(--features-card-content-margin-top);

  .heading {
    font-size: var(--features-card-content-heading-fs);
  }

  p {
    margin-top: var(--features-card-content-text-margin-top);
  }
}
