@use '../abstracts' as abstract;

/********** Features Card */
.features-container {
  @include abstract.flex;

  margin-block: var(--features-container-margin-block);
  flex-direction: column;
  gap: var(--features-container-gap);

  @media (min-width: 90em) {
    flex-direction: row;
    height: var(--features-container-height);
  }
}

.features-card {
  text-align: center;
  gap: var(--features-card-gap);
  max-width: var(--features-card-max-width);

  @media (min-width: 48em) {
    @include abstract.flex;
    flex-direction: row;
    max-width: var(--features-card-max-width);

    &:nth-child(odd) {
      align-self: flex-end;
    }

    &:nth-child(even) {
      align-self: flex-start;
    }
  }

  @media (min-width: 90em) {
    flex-direction: column;

    &:nth-child(odd) {
      align-self: flex-start;
    }

    &:nth-child(even) {
      align-self: flex-end;
    }
  }

  &__img {
    @include abstract.flex;

    background-color: var(--features-card-img-bg);
    border-radius: var(--features-card-img-radius);
    padding: var(--features-card-img-padding);
    margin-inline: auto;
    padding: 26px;
    flex-shrink: 0;
    width: var(--features-card-img-width);
    height: var(--features-card-img-height);
  }

  &__content {
    text-align: var(--features-card-content-text-align);
    margin-top: var(--features-card-content-margin-top);
    max-width: var(--features-card-content-max-width);

    .heading {
      font-size: var(--features-card-content-heading-fs);
    }

    p {
      margin-top: var(--features-card-content-text-margin-top);
    }
  }
}
