@use '../abstracts' as abstract;

.form {
  input {
    width: 100%;

    @include abstract.focus {
      outline: 0;
    }
  }

  input[type='email'] {
    font-weight: var(--form-email-fw);
    color: var(--form-email-color);
    background-color: var(--form-email-bg);
    border: var(--form-email-border);
    border-radius: var(--form-email-radius);
    padding: var(--form-email-padding);

    &::placeholder {
      color: var(--form-email-color-placeholder);
    }
  }

  input[type='submit'] {
    margin-top: var(--form-submit-margin-top);
  }

  @media (min-width: 48em) {
    @include abstract.flex;

    column-gap: var(--form-col-gap);
  }

  &__message {
    font-size: var(--form-message-fs);
  }
}
