@use '../abstracts' as abstract;

.form {
  margin-inline: auto;
  max-width: var(--form-max-width);

  input {
    width: 100%;

    @include abstract.focus {
      outline: 0;
    }
  }

  input[type='email'] {
    color: var(--form-input-color);
    background-color: var(--form-input-bg);
    border: var(--form-input-border);
    border-radius: var(--form-input-radius);
    padding: var(--form-input-padding);

    &::placeholder {
      color: var(--form-input-placeholder-color);
    }
  }

  input[type='submit'] {
    margin-top: var(--form-input-submit-margin-top);
  }

  &__group {
    display: block;

    @media (min-width: 48em) {
      display: grid;
      grid-template-columns: var(--form-group-grid-template);
      column-gap: var(--form-group-grid-col-gap);
    }
  }
}
