@use '../abstracts' as abstract;

.hero {
  margin-top: var(--hero-margin-top);
  overflow-x: hidden;

  @media (min-width: 48em) {
    display: flex;
    flex-direction: row;
  }

  &__img {
    &-mobile {
      background-size: contain;
      background-repeat: no-repeat;
      background-image: var(--hero-img-mobile-url);
      width: var(--hero-img-mobile-width);
      height: var(--hero-img-mobile-height);

      @media (min-width: 48em) {
        display: none;
      }
    }

    &-left,
    &-right {
      display: none;
      background-size: contain;
      background-repeat: no-repeat;
      width: var(--hero-img-width);
      height: var(--hero-img-height);

      @media (min-width: 48em) {
        display: flex;
        flex-shrink: 0;
      }
    }

    &-left {
      background-image: var(--hero-img-left-url);
    }

    &-right {
      background-image: var(--hero-img-right-url);
    }
  }

  &__content {
    @include abstract.flex;

    margin-inline: auto;
    max-width: var(--hero-content-max-width);
  }
}
