@use '../abstracts' as abstract;

.hero {
  margin-top: var(--hero-margin-top);
  overflow-x: hidden;

  @media (min-width: 48em) {
    display: flex;
    flex-direction: row;
  }

  &__img {
    &-mobile {
      background-size: contain;
      background-repeat: no-repeat;
      background-image: var(--hero-img-mobile-url);
      width: var(--hero-img-mobile-width);
      height: var(--hero-img-mobile-height);

      @media (min-width: 48em) {
        display: none;
      }
    }

    &-left,
    &-right {
      display: none;
      background-size: contain;
      background-repeat: no-repeat;
      width: var(--hero-img-width);
      height: var(--hero-img-height);

      @media (min-width: 48em) {
        display: flex;
        flex-shrink: 0;
      }
    }

    &-left {
      background-image: var(--hero-img-left-url);
      margin-left: var(--hero-img-left-margin-left);
    }

    &-right {
      background-image: var(--hero-img-right-url);
      margin-right: var(--hero-img-right-margin-right);
    }
  }

  &__content {
    @include abstract.flex;

    text-align: center;
    background-image: var(--hero-content-bg-url);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: var(--hero-content-margin-top);
    margin-inline: auto;
    padding-inline: var(--hero-content-padding-inline);
    flex-direction: column;
    gap: var(--hero-content-gap);
    max-width: var(--hero-content-max-width);

    .heading {
      font-size: var(--hero-heading-fs);
      line-height: var(--hero-heading-leading);
      max-width: var(--hero-heading-max-width);
    }

    p {
      max-width: var(--hero-content-text-max-width);
    }
  }
}
